/*
.user-component__time{
    position : relative;
}

.badge__second{
    position : absolute;
}

.user-component__column:last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

애초에 필요가 없는 코드들이었음!!!!

*/

